#ignore the pdf with the questions
Maturitni-otazky-z-IVT.pdf

#ignore compiled files
Project/Java/bin/

#ignore .DS_Store
.DS_Store

Project/Java/.classpath
Project/Java/.project
Project/Python/.project
Project/Python/.pydevproject

*.txt

PreloaderTestLaunch.java
WorkingThread.java
