/*
 * This css file consists of style features in the main layout.
 * 
 * Send arrow icon: <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a>
 * from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
 * <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
 * 
 * @author Ondrej Masopust
 */

/*define variables*/
*{
	-fx-window-background: #282828;
	-fx-left-section-back: #181818;
	-fx-text-color: #F0F0F0;
}

.window{
	-fx-background-color: -fx-window-background;
}

.centerSection{
	-fx-background-color: radial-gradient(center 50.0% 50.0%, radius 40.0%, #323232, -fx-window-background); 
}

.rightSection{
	
}

	.buttons{
		-fx-background-radius: 20.0;
		-fx-text-fill: -fx-text-color;
		-fx-font-size: 20.0px;
	}
	
	.buttons:hover{
		-fx-cursor: hand;
	}
	
	.infoButton{
		-fx-background-color: #CC3333;
	}
	
	.zoomButton{
		-fx-background-color: #B7B327;
	}
	
	.percentage{
		-fx-fill: -fx-text-color;
		-fx-font-size: 20;
	}

.leftSection{
	-fx-border-color: -fx-left-section-back white -fx-left-section-back -fx-left-section-back;
	-fx-border-width: 1.0px;
	-fx-background-color: -fx-left-section-back;
}

	.consoleHeading{
		-fx-padding: 10.0px;
	}
	
		.consoleHeadingLabel{
			-fx-text-fill: -fx-text-color;
			-fx-font-size: 23.0px;
		}
	
	.scroll-pane {
  	  	-fx-background-insets: 0.0;
	    -fx-padding: 0.0;
	}

	.scroll-pane:focused {
    		-fx-background-insets: 0.0;
	}

	.scroll-pane .corner {
    		-fx-background-insets: 0.0;
	}

	.leftSP{
		-fx-background: -fx-left-section-back;
		-fx-border-color: -fx-text-color -fx-left-section-back -fx-text-color -fx-left-section-back;
		-fx-border-width: 1.0px;
	}
	
		.messageList{}

		.textList{
			-fx-padding: 10.0px;
			-fx-border-insets: 5.0px;
			-fx-background-insets: 5.0px;
			-fx-font-size: 15.0px;
			-fx-background-radius: 6.0px;
		}
	
		.textListYou{
			-fx-background-color: #087099;
		}
	
		.textListRover{
			-fx-background-color: #5C7829;
		}
		
		.consoleInput{
			-fx-background-color: #323232;
			-fx-background-radius: 0px;
			-fx-text-fill: -fx-text-color;
			-fx-font-size: 15.0px;
		}
		
		.consoleSubmitButton{
			-fx-background-image: url("/com/masopust/ondra/java/gui/mainLayout/arrow.png");
			-fx-background-size: 30px;
			-fx-background-position: center;
			-fx-background-repeat: no-repeat;
			-fx-background-color: #323232;
			-fx-background-radius: 0px;
		}
		
		.consoleSubmitButton:hover{
			-fx-cursor: hand;
		}

.infoSPane{
	-fx-background: black;
}

	.infoText{
		-fx-fill: aliceblue;
		-fx-font-size: 15.0px;
	}

	.H1{
		-fx-underline: true;
		-fx-font-size: 50.0px;
	}