/*
 * This css file consists of style features in the preloader layout.
 * 
 * Blackberry dark pallete was used.
 * 
 * @author Ondrej Masopust
 */
.window{
	-fx-background-color: #282828;
}

.progress{
	-fx-progress-color: #087099;
}

.textTitle{
	-fx-fill: #F0F0F0;
	-fx-font-size: 26px;
}

.button{
	-fx-background-color: #087099;
	-fx-text-fill: #F0F0F0;
}

.textErrors{
	-fx-fill: #F0F0F0;
}

.textScrollPane{
	-fx-background: #181818;
	-fx-background-color: #181818;
}